<!-- Create your form here -->
<%= form_tag students_path do %>
<h1>New Student</h1>
<label>Post title:</label><br>
<%= text_field_tag :'students[first_name]' %><br>

<label>Post Description</label><br>
<%= text_field_tag :'students[:last_name]' %><br>

<%= submit_tag "Submit Student" %>
<% end %>
